
*.user
*.8-pre1
BACKYARD/build-HelloOpenCL_Qt_5_4_1_MinGW_4_9_2_x64/Makefile
BACKYARD/build-HelloOpenCL_Qt_5_4_1_MinGW_4_9_2_x64/Makefile.Debug
BACKYARD/build-HelloOpenCL_Qt_5_4_1_MinGW_4_9_2_x64/Makefile.Release
BACKYARD/build-HelloOpenCL_Qt_5_4_1_MinGW_4_9_2_x64/release/HelloOpenCL.exe
BACKYARD/build-HelloOpenCL_Qt_5_4_1_MinGW_4_9_2_x64/release/main.o
BACKYARD/EXPERIMENTS/LEGACY/3d_beam.bdf
BACKYARD/EXPERIMENTS/LEGACY/BezierCurves.RVE
BACKYARD/EXPERIMENTS/LEGACY/Fuel_Cell.RVE
BACKYARD/EXPERIMENTS/LEGACY/FuelCell.scr
BACKYARD/EXPERIMENTS/LEGACY/MechanicalTest1.txt
BACKYARD/EXPERIMENTS/LEGACY/Nanoporous_alumina.RVE
BACKYARD/EXPERIMENTS/LEGACY/Nanoporous_alumina_Hexagon_Bezier.RVE
BACKYARD/EXPERIMENTS/LEGACY/Nanoporous_alumina_Hexagon_Bezier_128.RVE
BACKYARD/EXPERIMENTS/LEGACY/Nanoporous_alumina_Hexagon_Bezier_2.RVE
BACKYARD/EXPERIMENTS/LEGACY/Nanoporous_alumina_Hexagon_Bezier_3.RVE
BACKYARD/EXPERIMENTS/LEGACY/Nanoporous_alumina_Hexagon_Voronoi.RVE
BACKYARD/EXPERIMENTS/LEGACY/Nanoporous_alumina_Random_Voronoi.RVE
BACKYARD/EXPERIMENTS/LEGACY/Nanoporous_alumina_Square_Voronoi.RVE
BACKYARD/EXPERIMENTS/LEGACY/Nanoporous_alumina_Voronoi.RVE
BACKYARD/EXPERIMENTS/LEGACY/Nanotubes_256.RVE
BACKYARD/EXPERIMENTS/LEGACY/parameters.txt
BACKYARD/EXPERIMENTS/LEGACY/porousWall_256.RVE
BACKYARD/EXPERIMENTS/LEGACY/RVE128_AAO.RVE
BACKYARD/EXPERIMENTS/LEGACY/RVE128_AAO_EffectiveConductivity.csv
BACKYARD/EXPERIMENTS/LEGACY/RVE128_AAO_EffectiveRefractiveIndex.csv
BACKYARD/EXPERIMENTS/LEGACY/RVE128AAO_Thermal.txt
BACKYARD/EXPERIMENTS/LEGACY/RVE128TavangarUncalibrated.txt
BACKYARD/EXPERIMENTS/LEGACY/RVE16_AlC_sphere_vol_h_E_v_LCTE.txt
BACKYARD/EXPERIMENTS/LEGACY/RVE16_AlSiC_sphere_vol_h_E_v_LCTE.txt
BACKYARD/EXPERIMENTS/LEGACY/RVE2128_AAO.RVE
BACKYARD/EXPERIMENTS/LEGACY/RVE2128_AAO_EffectiveRefractiveIndex.csv
BACKYARD/EXPERIMENTS/LEGACY/RVE256_AAO.RVE
BACKYARD/EXPERIMENTS/LEGACY/RVE32_AAO.RVE
BACKYARD/EXPERIMENTS/LEGACY/RVE32_AAO_EffectiveRefractiveIndex.csv
BACKYARD/EXPERIMENTS/LEGACY/RVE32_AlC_sphere_vol_h_E_v_LCTE.txt
BACKYARD/EXPERIMENTS/LEGACY/RVE64_AAO.RVE
BACKYARD/EXPERIMENTS/LEGACY/RVE64_AAO_EffectiveRefractiveIndex.csv
BACKYARD/EXPERIMENTS/LEGACY/RVE_128_AAO_2d.bdf
BACKYARD/EXPERIMENTS/LEGACY/RVE_128_Hexagon_2d.bdf
BACKYARD/EXPERIMENTS/LEGACY/RVE_2_Demo.bdf
BACKYARD/EXPERIMENTS/LEGACY/RVE_32_Gaussian_pores.bdf
BACKYARD/EXPERIMENTS/LEGACY/RVE_32_Gaussian_pores.RVE
BACKYARD/EXPERIMENTS/LEGACY/RVE_32_Graphene.bdf
BACKYARD/EXPERIMENTS/LEGACY/RVE_32_Graphene.RVE
BACKYARD/EXPERIMENTS/LEGACY/RVE_32_Voronoi.bdf
BACKYARD/EXPERIMENTS/LEGACY/RVE_64_Fiber(50).bdf
BACKYARD/EXPERIMENTS/LEGACY/RVE_64_Gaussian_2d.bdf
BACKYARD/EXPERIMENTS/LEGACY/RVE_64_Gaussian_pores.bdf
BACKYARD/EXPERIMENTS/LEGACY/RVE_64_Gaussian_pores.RVE
BACKYARD/EXPERIMENTS/LEGACY/RVE_64_Graphene.bdf
BACKYARD/EXPERIMENTS/LEGACY/RVE_64_Graphene.RVE
BACKYARD/EXPERIMENTS/LEGACY/RVE_64_Hexagon_2_2d.bdf
BACKYARD/EXPERIMENTS/LEGACY/RVE_64_Hexagon_2d.bdf
BACKYARD/EXPERIMENTS/LEGACY/RVE_64_Square_7x7_2d.bdf
BACKYARD/EXPERIMENTS/LEGACY/RVE_64_Voronoi_2.bdf
BACKYARD/EXPERIMENTS/LEGACY/RVE_64_Voronoi_2d.bdf
BACKYARD/EXPERIMENTS/LEGACY/test.RVE
BACKYARD/EXPERIMENTS/LEGACY/test.scr
BACKYARD/EXPERIMENTS/LEGACY/testBad.RVE
BACKYARD/EXPERIMENTS/LEGACY/testBad.scr
build-RVEViewer_Qt_5_4_1_MinGW_4_9_2_x64/Makefile
build-RVEViewer_Qt_5_4_1_MinGW_4_9_2_x64/Makefile.Debug
build-RVEViewer_Qt_5_4_1_MinGW_4_9_2_x64/Makefile.Release
build-RVEViewer_Qt_5_4_1_MinGW_4_9_2_x64/release/glew32.dll
build-RVEViewer_Qt_5_4_1_MinGW_4_9_2_x64/release/libgcc_s_seh-1.dll
build-RVEViewer_Qt_5_4_1_MinGW_4_9_2_x64/release/libstdc++-6.dll
build-RVEViewer_Qt_5_4_1_MinGW_4_9_2_x64/release/libwinpthread-1.dll
build-RVEViewer_Qt_5_4_1_MinGW_4_9_2_x64/release/main.o
build-RVEViewer_Qt_5_4_1_MinGW_4_9_2_x64/release/moc_volumeglrender.cpp
build-RVEViewer_Qt_5_4_1_MinGW_4_9_2_x64/release/moc_volumeglrender.o
build-RVEViewer_Qt_5_4_1_MinGW_4_9_2_x64/release/moc_volumeglrenderbasecontroller.cpp
build-RVEViewer_Qt_5_4_1_MinGW_4_9_2_x64/release/moc_volumeglrenderbasecontroller.o
build-RVEViewer_Qt_5_4_1_MinGW_4_9_2_x64/release/moc_volumeglrendereditdialog.cpp
build-RVEViewer_Qt_5_4_1_MinGW_4_9_2_x64/release/moc_volumeglrendereditdialog.o
build-RVEViewer_Qt_5_4_1_MinGW_4_9_2_x64/release/moc_volumeglrenderformatdialog.cpp
build-RVEViewer_Qt_5_4_1_MinGW_4_9_2_x64/release/moc_volumeglrenderformatdialog.o
build-RVEViewer_Qt_5_4_1_MinGW_4_9_2_x64/release/Nanoporous_alumina.RVE
build-RVEViewer_Qt_5_4_1_MinGW_4_9_2_x64/release/platforms/qwindows.dll
build-RVEViewer_Qt_5_4_1_MinGW_4_9_2_x64/release/Qt5Core.dll
build-RVEViewer_Qt_5_4_1_MinGW_4_9_2_x64/release/Qt5Gui.dll
build-RVEViewer_Qt_5_4_1_MinGW_4_9_2_x64/release/Qt5OpenGL.dll
build-RVEViewer_Qt_5_4_1_MinGW_4_9_2_x64/release/Qt5Test.dll
build-RVEViewer_Qt_5_4_1_MinGW_4_9_2_x64/release/Qt5Widgets.dll
build-RVEViewer_Qt_5_4_1_MinGW_4_9_2_x64/release/qwindows.dll
build-RVEViewer_Qt_5_4_1_MinGW_4_9_2_x64/release/RVEViewer.exe
build-RVEViewer_Qt_5_4_1_MinGW_4_9_2_x64/release/volumeglrender.o
build-RVEViewer_Qt_5_4_1_MinGW_4_9_2_x64/release/volumeglrenderbasecontroller.o
build-RVEViewer_Qt_5_4_1_MinGW_4_9_2_x64/release/volumeglrendereditdialog.o
build-RVEViewer_Qt_5_4_1_MinGW_4_9_2_x64/release/volumeglrenderformatdialog.o
build-RVEViewer_Qt_5_4_1_MinGW_4_9_2_x64/ui_volumeglrendereditdialog.h
build-RVEViewer_Qt_5_4_1_MinGW_4_9_2_x64/ui_volumeglrenderformatdialog.h
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/ConsoleLogFile.log
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/Makefile
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/Makefile.Debug
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/Makefile.Release
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/object_script.VoxelCompositesCore.Debug
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/object_script.VoxelCompositesCore.Release
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/clmanager.o
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/clmanagergui.o
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/consolecommand.o
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/curvepreviewglrender.o
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/filterpreviewglrender.o
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/glew32.dll
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/inclusionpreviewglrender.o
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/libgcc_s_seh-1.dll
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/libstdc++-6.dll
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/libwinpthread-1.dll
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/logger.o
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/main.o
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/moc_clmanagerconsoleinterface.cpp
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/moc_clmanagerconsoleinterface.o
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/moc_clmanagergui.cpp
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/moc_clmanagergui.o
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/moc_consolerunner.cpp
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/moc_consolerunner.o
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/moc_logger.cpp
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/moc_logger.o
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/moc_loggerprivate.cpp
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/moc_loggerprivate.o
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/moc_representativevolumeelementconsoleinterface.cpp
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/moc_representativevolumeelementconsoleinterface.o
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/moc_test_clmanager.cpp
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/moc_test_clmanager.o
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/moc_test_derivative.cpp
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/moc_test_derivative.o
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/moc_test_domain.cpp
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/moc_test_domain.o
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/moc_test_fespacesimplex.cpp
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/moc_test_fespacesimplex.o
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/moc_test_matrix.cpp
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/moc_test_matrix.o
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/moc_test_polynomial.cpp
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/moc_test_polynomial.o
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/moc_test_problem.cpp
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/moc_test_problem.o
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/moc_test_simulation.cpp
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/moc_test_simulation.o
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/moc_test_synthesis.cpp
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/moc_test_synthesis.o
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/moc_test_viennacl.cpp
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/moc_test_viennacl.o
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/moc_userinterfacemanager.cpp
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/moc_userinterfacemanager.o
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/moc_volumeglrender.cpp
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/moc_volumeglrender.o
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/moc_volumeglrenderbasecontroller.cpp
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/moc_volumeglrenderbasecontroller.o
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/moc_volumeglrendereditdialog.cpp
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/moc_volumeglrendereditdialog.o
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/moc_volumeglrenderformatdialog.cpp
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/moc_volumeglrenderformatdialog.o
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/moc_volumeglrenderrve.cpp
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/moc_volumeglrenderrve.o
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/moc_volumeglrenderrveeditdialog.cpp
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/moc_volumeglrenderrveeditdialog.o
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/moc_xyglrender.cpp
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/moc_xyglrender.o
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/moc_xyglrenderformatdialog.cpp
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/moc_xyglrenderformatdialog.o
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/platforms/qwindows.dll
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/Qt5Core.dll
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/Qt5Gui.dll
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/Qt5OpenGL.dll
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/Qt5Test.dll
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/Qt5Widgets.dll
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/representativevolumeelement.o
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/representativevolumeelementconsoleinterface.o
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/simulation.o
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/test_clmanager.o
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/test_derivative.o
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/test_domain.o
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/test_fespacesimplex.o
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/test_matrix.o
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/test_polynomial.o
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/test_problem.o
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/test_simulation.o
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/test_synthesis.o
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/test_viennacl.o
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/userinterfacemanager.o
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/volumeglrender.o
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/volumeglrenderbasecontroller.o
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/volumeglrendereditdialog.o
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/volumeglrenderformatdialog.o
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/volumeglrenderrve.o
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/volumeglrenderrveeditdialog.o
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/VoxelCompositesCore.exe
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/xyglrender.o
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/release/xyglrenderformatdialog.o
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/ui_clmanagergui.h
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/ui_volumeglrendereditdialog.h
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/ui_volumeglrenderformatdialog.h
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/ui_volumeglrenderrveeditdialog.h
build-VoxelCompositesCore_Qt_5_4_1_MinGW_4_9_2_x64/ui_xyglrenderformatdialog.h
